<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one

        var types=["coal","natural_gas","nuclear","petroleum", "renewable"];
        var pageURL = window.location.href;
        var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
        var energy_type=""+lastURLSegment;
        var energy_counts=new Array();  // e.g. {AK: [...], AL: [...], AR: [...], ...}
        var count=[];
        var states=[];

        

        function refresh(){
            var array=[];
            myTab=document.getElementById("table");
            for(i=1; i<52; i++){
                array=[];
                for (j = 1; j < myTab.rows.length; j++) {
                array.push(parseInt(myTab.rows[j].cells[i].innerHTML));
                }
                states.push(myTab.rows[0].cells[i].innerHTML)
                energy_counts[i-1]=array;
            }
            for(z=1960; z<2019; z++){
                count.push(z);
            }
            var type=energy_type;
            if(energy_type=="coal"){type="Coal"}
            if(energy_type=="natural_gas"){type="Natural Gas"}
            if(energy_type=="nuclear"){type="Nuclear"}
            if(energy_type=="petroleum"){type="Petroleum"}
            if(energy_type=="renewable"){type="Renewable Sources"}

            document.getElementById("display").innerHTML="State Energy Production from " + type;
        }        

        function statelist(){
            return states;
        }

        function energies(){
            return energy_counts;
        }

        function counting(){
            return count;
        }

        function next(){
            var num= types.indexOf(energy_type)+1;
            var newEnergy= types[num%5];
            window.location.href="/energy/"+newEnergy;
        }

        function prev(){
            var num= types.indexOf(energy_type)-1;
            if(num<0){
                num=4;
            }
            var newEnergy= types[num%5];
            window.location.href="/energy/"+newEnergy;
        }

        function yeardir(){
            window.location.href="/year/2018";
        }

        function energydir(){
            window.location.href="/energy/coal";
        }

        function statedir(){
            window.location.href="/state/AL";
        }
        
        function display(){
            document.getElementById("display").innerHTML="hi  "+energy_type +"   "+ energy_counts[1].toString()+document.getElementById("table").rows[1].cells[1].innerHTML;
        }
        

    </script>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body onload="refresh(); plot();">

    <h1 id="display"></h1>
    <div id="tester" style="width:1000px;height:1000px;"></div>
    <button onclick="prev()" class="button">Previous</button>
    <div class="dropdown">
        <button class="dropbtn">Select Source</button>
        <div class="dropdown-content">
          <a href="/energy/coal">Coal</a>
          <a href="/energy/natural_gas">Natural Gas</a>
          <a href="/energy/nuclear">Nuclear</a>
          <a href="/energy/petroleum">Petroleum</a>
          <a href="/energy/renewable">Renewable</a>
        </div>
      </div>
    <script>
        function plot(){
            TESTER = document.getElementById('tester');
            var c=counting();
            var e=energies();
            var s=statelist();
            data=[];
            for(i=0;i<51;i++){
                data.push({x: c, y: e[i], mode: 'lines+markers', name: s[i]});
            }
            Plotly.newPlot(TESTER, data);
        }
    </script>
    
    <button onclick="statedir()" class="button">State</button>
    <button onclick="yeardir()" class="button">Year</button>
    <button onclick="energydir()" class="button">Energy</button>
    <button onclick="next()" class="button">Next</button>
    

    <table border="1px" id="table">
    {data}
    </table>
</body>
</html>
