<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state=[];
        var coal_counts=[];  // e.g. [1234, 2567, ...]
        var natural_gas_counts = [];
        var nuclear_counts=[];
        var petroleum_counts=[];
        var renewable_counts=[];
        var total=[];
        var count=[];

        function refresh(){
            myTab=document.getElementById("table");
            for (i = 1; i < myTab.rows.length; i++) {
                coal_counts.push(parseInt(myTab.rows[i].cells[1].innerHTML));
                natural_gas_counts.push(parseInt(myTab.rows[i].cells[2].innerHTML));
                nuclear_counts.push(parseInt(myTab.rows[i].cells[3].innerHTML));
                petroleum_counts.push(parseInt(myTab.rows[i].cells[4].innerHTML));
                renewable_counts.push(parseInt(myTab.rows[i].cells[5].innerHTML));
                total.push(parseInt(myTab.rows[i].cells[6].innerHTML));
                count.push(i+1959);
            }
        }
        
        function counting(){
            return count;
        }

        function getData(){
            var x=[];
            x.push(coal_counts);
            x.push(natural_gas_counts);
            x.push(nuclear_counts);
            x.push(petroleum_counts);
            x.push(renewable_counts);
            return x;
        }

        function yeardir(){
            window.location.href="/year/2018";
        }

        function energydir(){
            window.location.href="/energy/coal";
        }
        function statedir(){
            window.location.href="/state/AL";
        }
             
        function next(){
            window.location.href="/state/{NEXT}";
        }

        function prev(){
            window.location.href="/state/{PREV}";
        }

        function stateSearch() {
        var input = document.getElementById("userInput").value;
        window.location.href="/state/"+input.toUpperCase();
        }
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body onload="refresh(); plot();">
    <h1>{STATE}</h1>
    <div id="tester" style="width:1000px;height:1000px;"></div>
    <script>
        function plot(){
            TESTER = document.getElementById('tester');
            var c=counting();
            var d=getData();
            data=[];
                data.push({x: c, y: d[0], mode: 'lines+markers', name: "Coal"});
                data.push({x: c, y: d[1], mode: 'lines+markers', name: "Natural Gas"});
                data.push({x: c, y: d[2], mode: 'lines+markers', name: "Nuclear"});
                data.push({x: c, y: d[3], mode: 'lines+markers', name: "Petroleum"});
                data.push({x: c, y: d[4], mode: 'lines+markers', name: "Renewable Sources"});
            Plotly.newPlot(TESTER, data);
        }
    </script>
    
    <img src="{STATEIMG}" alt="{STATEALT}" height="200px" width="auto">
    </br>
    <form id="form" onsubmit="return false;">
        <input  type="text" placeholder="Search State Abbrevition.." id="userInput" />
        <input type="submit" onclick="stateSearch();" class="button">
    </form>
    </br>
    <button onclick="prev()" class="button">Previous</button>
    <button onclick="statedir()" class="button">State</button>
    <button onclick="yeardir()" class="button">Year</button>
    <button onclick="energydir()" class="button">Energy</button>
    <button onclick="next()" class="button">Next</button>
    <table id="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Coal</th>
                <th>Natural_gas</th>
                <th>Nuclear</th>
                <th>Petroleum</th>
                <th>Renewable</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {DATA}
        </tbody>
    </table>
</body>
</html>