<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        
        var state=[];
        var pageURL = window.location.href;
        var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
        var year=""+lastURLSegment;
        var coal_count=[];
        var natural_gas_count=[];
        var nuclear_count=[];
        var petroleum_count=[];
        var renewable_count=[];
        var total=[];
        var colTotals=[];

        function colTotal(){
            return colTotals;
        }
        
        function sum(total, num) {
        return total + num;
        }
        
        function refresh(){
            myTab=document.getElementById("table");
            for (i = 1; i < myTab.rows.length; i++) {
                state.push(myTab.rows[i].cells[0].innerHTML);
                coal_count.push(parseInt(myTab.rows[i].cells[1].innerHTML));
                natural_gas_count.push(parseInt(myTab.rows[i].cells[2].innerHTML));
                nuclear_count.push(parseInt(myTab.rows[i].cells[3].innerHTML));
                petroleum_count.push(parseInt(myTab.rows[i].cells[4].innerHTML));
                renewable_count.push(parseInt(myTab.rows[i].cells[5].innerHTML));
                total.push(parseInt(myTab.rows[i].cells[6].innerHTML));
            } 
            colTotals.push(coal_count.reduce(sum));
            colTotals.push(natural_gas_count.reduce(sum));
            colTotals.push(nuclear_count.reduce(sum));
            colTotals.push(petroleum_count.reduce(sum));
            colTotals.push(renewable_count.reduce(sum));
            document.getElementById("display").innerHTML="State Energy Producion for "+year;
        }  
         
        
        
        function next(){
            var year1=parseInt(year)+1;
            if(year1>2018){
                window.location.href="/year/1960";
            }
            else{
                window.location.href="/year/"+year1;
            }
        }

        function prev(){
            var year2=parseInt(year)-1;
            if(year2<1960){
                window.location.href="/year/2018";
            }
            else{
                window.location.href="/year/"+year2;
            }
        }
        
        function yeardir(){
            window.location.href="/year/2018";
        }

        function energydir(){
            window.location.href="/energy/coal";
        }

        function statedir(){
            window.location.href="/state/AL";
        }

        function yearSearch() {
        var input = document.getElementById("userInput").value;
        window.location.href="/year/"+input;
    }


    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>
<body onload="refresh(); plot()">

    <h1 id="display"></h1>
    <div id="tester" style="width:800px;height:500px;"></div>
    <script>    
        function plot(){
        var col=colTotal();
        TESTER = document.getElementById('tester');
        var data = [
        {
        x: ['Coal', 'Natural Gas', 'Nuclear', 'Petroleum', 'Renewable'],
        y: col,
        type: 'bar'
        }
        ];
        var layout = {
        title: 'US Energy by Source (Billion Btu)',
        };
            Plotly.newPlot(TESTER, data, layout);
        }
    </script>

    <form id="form" onsubmit="return false;">
        <input  type="text" placeholder="Search Year.." id="userInput" />
        <input type="submit" onclick="yearSearch();" class="button">
    </form>

    <button onclick="prevdir()" class="button">Previous</button>
    <button onclick="statedir();" class="button">State</button>
    <button onclick="yeardir()" class="button">Year</button>
    <button onclick="energydir()" class="button">Energy</button>
    <button onclick="next()" class="button">Next</button>

    <table border="1px" id="table">
        <thead>
        <tr>
            <th>State</th>
            <th>Coal</th>
            <th>Natural Gas</th>
            <th>Nuclear</th>
            <th>Petroleum</th>
            <th>Renewable</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {data}
        </tbody>
    </table>
</body>
</html>
